@use '../styles/variables' as v;
@use '../styles/section';


#legal-notice-section {
    padding: 2rem;
    line-height: 1.6;
  
  & h2 {
    font-family: "Inter";
    font-weight: bold;
    font-size: calc(1rem + 0.5vw);
    margin-bottom: 0;
  }

  & .legal-container {
    max-width: 800px;
    margin: auto;
  }
  
  & a {
    color: #457b9d;
  }
}