@use '../styles/variables' as v;
@use '../styles/section';


.personal-library {
    padding: 0 0 0.5rem 0;
    background-color: v.$base-color;

    &-header {
        background-color: v.$base-color;
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        &-list {
            font-family: "Inter";
            padding: 0;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;
            
            &-link {
                font-family: "Inter";
                font-size: 1.3rem;
                font-weight: 700;
                color: v.$secondary-color;
                text-decoration: none;
                padding: 1.2rem 0;
            }

            &-btn {
                background-color: v.$secondary-color;
                border: none;
                color: white;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                margin: 1rem 0;
            
                display: flex;
                justify-content: center;
            }

            .selected-status {
                text-decoration: underline;
                color: #d1bda5
            }
        }

        &-filter {
            width: 80%;
            margin-top: 1rem;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 2rem;
            row-gap: 0.7rem;;

            .filter-label{
                font-family: "Inter";
                font-weight: 300;
                font-size: 0.9rem;
                margin: 0;
                padding: 0;
            }

            &-libraries {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &-libraries {
        background-color:v.$primary-color;
        width: 100%;
        margin: 0.5rem auto 0 auto;
        padding-bottom: 4rem;

        .library-title {
            font-family: "Inter";
            font-size: 2rem;;
            padding: 2rem 0;
            color: v.$marron-color;
            margin: 0 auto;
            text-align: center;
        }
    
        .books-list-ul {
            padding: 0;
            margin: 0 auto;
        }
    }

    .addbook-box {
        background-color: v.$base-color;
        position: relative;
        width: 150px;
        height: 220px;
        margin: 0 auto;

        &-btn {
            font-size: 3rem;
            background-color: v.$primary-color;
            color: v.$secondary-color;
            position: absolute;
            top:35%;
            left:50%;
            transform: translate(-50%, -50%);
            padding: 1rem 1rem 1.4rem 1rem;
            border-radius: 50%;
        }

        &-text {
            position: absolute;
            top:65%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }


}


.test-btn {
    background-color: v.$secondary-color;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: normal;
    width: 25px;
    height: 25px;
    padding: 0;
    line-height: 1;
    z-index: 2;

    position: absolute;
    top: 2%;
    right: 17%;

    display: flex;
    justify-content: center;
}

.library-menu-list {
    position: relative;
}