@use '../styles/variables' as v;
@use '../styles/section';


.personal-library {
    padding: 0 0 0.5rem 0;
    background-color: v.$base-color;

    &-header {
        background-color: v.$base-color;
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0 0 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        &-titre{
            font-size: 2.8rem;
            margin: 0;
        }

        &-list {
            padding: 1rem 0 0 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5rem;
            
            &-link {
                font-family: "Inter";
                font-weight: 300;
                font-size: 1.1rem;
                font-weight: 200;
                color: v.$marron-color;
            }

            &-btn {
                background-color: v.$primary-color;
                border: none;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                color:v.$police-color;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                cursor: pointer;
            
                display: flex;
                justify-content: center;
            }

            .selected-filter{
                background-color: v.$secondary-color;
                color: v.$primary-color;
            }

            .selected-status {
                border-bottom: 1px solid v.$secondary-color;
                color: v.$secondary-color;
            }

            .header-navlink {
                text-decoration: none;
            }
        }


        &-filter {
            padding: 1rem;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 2rem;
            row-gap: 0.7rem;

            &-text {
                font-family: "Inter";
                font-weight: 300;
                margin:0;
                padding:0;
            }
            
            .filter-label{
                font-family: "Inter";
                font-weight: 200;
                font-size: 0.9rem;
                margin: 0;
                padding: 0;
            }

            select {
                padding: 0.4rem 0.6rem;
                border-radius: 6px;
                border: 1px solid v.$base-color;
                background-color: white;
                font-size: 0.9rem;
                width: 12rem;
                min-width: 160px;
            }

            .create-form{
                display: flex;
                gap: 0.5rem;
                align-items: center;

                &-input {
                    padding: 0.4rem 0.6rem;
                    border-radius: 6px;
                    border: 1px solid v.$base-color;
                    font-size: 0.9rem;
                }

                &-button {
                    padding: 0.4rem 0.8rem;
                    background-color: v.$secondary-color;
                    color: white;
                    border: none;
                    border-radius: 6px;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }

            &-libraries {
                display: flex;
                flex-direction: column;
            }

        }
    }

    &-libraries {
        padding-bottom: 4rem;

        .library-title {
            font-family: "Inter";
            font-weight: 200;
            font-size: 1.7rem;;
            padding: 2rem 0;
            margin: 0 auto;
            text-align: center;
        }
    
        .books-list-ul {
            padding: 0;
            margin: 0 auto;
        }
    }

    .addbook-box {
        background-color:#e0e0e0;
        position: relative;
        width: 150px;
        height: 220px;
        margin: 0 auto;

        &-btn {
            font-size: 3rem;
            background-color: v.$base-color;
            color: v.$secondary-color;
            position: absolute;
            top:35%;
            left:50%;
            transform: translate(-50%, -50%);
            padding: 1rem 1rem 1.4rem 1rem;
            border-radius: 50%;
        }

        &-text {
            position: absolute;
            color:v.$secondary-color;
            top:65%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }


}


.test-btn {
    background-color: v.$secondary-color;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: normal;
    width: 25px;
    height: 25px;
    padding: 0;
    line-height: 1;
    z-index: 2;

    position: absolute;
    top: 2%;
    right: 17%;

    display: flex;
    justify-content: center;
}

.library-background {
    background-color: aqua;
    width: 90%;
    margin: 2rem auto;
    border-radius: 8px;
    background-color:v.$primary-color;
}

.library-menu-list {
    position: relative;
}

.personal-library-header-filter-wrapper {
    width:100%;
    margin-bottom: 0.5rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: all 0.4s ease;

    display: flex;
    justify-content: center;
}



//ANIMATION ------------------------------------
.personal-library-header-filter-wrapper.active {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}



//HOVER ----------------------------------------
.create-form-button:hover,
.personal-library-header-list-btn:hover {
    background-color:v.$marronlight-color;
}

.personal-library-header-list-link:hover {
    color: v.$secondary-color;
    font-weight: 300;
}

.personal-library-header-list-btn:hover {
    color: v.$base-color;
}

