@use '../styles/variables' as v;
@use '../styles/section';

.user-profile {
    background-color: v.$base-color;
    padding: 0;

    &-header {
        background-color: v.$base-color;
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0 0 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-size: 2.8rem;
            margin: 0;
        }

        &-navlink {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 2rem 0 0 0;
            width: 100%;
             
            
            & .user-profile-header-list-link {
                padding: 0 0 0.5rem 0;
                background-color: v.$base-color;
                color: v.$secondary-color;
                font-family: "Inter";
                font-size: 1.3rem;
                font-weight: 700;
                text-decoration: none;
                text-align: center;
                margin: 0 1.5% 1.5% 1.5%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 2rem;
            }

            & .selected-status {
                text-decoration: underline;
                color: #d1bda5;                
            }
        }
    }
}

.user-profile-container {
    background-color: v.$primary-color;
    flex:1;
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter";
    max-width: 1500px;
    margin: 0 auto;
    padding: 5%;
    justify-content: center;
    align-items: flex-start;
    gap: 5vw;
    


    & .user-data-section {
        min-width: 250px;
        max-width: 480px;
        width: 50vh;

        display: flex;
        flex-direction: column;



        & .user-update-form-title {
            font-weight: bold;
            font-size: calc(1.3rem + 0.5vw);
            text-align: center;
            margin-bottom: 4.5vh;
            color: v.$marron-color
            
        }


    
        & form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; 
            width: 100%; 

            & label {
                width: 100%;
                margin: 5% 0 0 0;

                & em {
                    color: v.$red-color;
                }
            }

            & input {
                width: 100%;
                margin: 0.3vh 0% 0 0;
                padding: 8px;
                border-radius: 4px;
                border: solid 2px v.$secondary-color;
                background-color: white; 
                font-size: 0.9rem;
            }

            & .register-form-error {
                font-size: 0.9rem;
            }

            & .user-update-form-button {
                all: unset;
                background-color: v.$secondary-color; 
                text-align: center;
                color: v.$base-color;
                margin: 3vh auto 5vh auto;
                border-radius: 8px;
                
                padding: 15px 40px; 
                cursor: pointer;
            }

        }     
        
        & .user-delete-button {
            all: unset;
            background-color: v.$red-color;
            padding: 15px 40px; 
            text-align: center;
            color: v.$base-color;
            border-radius: 8px;
            cursor: pointer;
            max-width: 230px;
            margin: 1vh auto 5vh auto;
        }
    }
    
    & #user-libraries-section {  
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        max-width: 800px;

        & #user-libraries-section-title {
            text-align: center;
            font-weight: bold;
            font-size: calc(1.3rem + 0.5vw);
            margin-bottom: 4.5vh;
            color: v.$marron-color
        }

        & #libraries-list {

            display: flex;
            margin: 0 auto;
            gap: calc(3vh + 1vw);
            flex-wrap: wrap;
            padding-left: 0px;
            justify-content: center;

            & li{
                width: 150px;

                & .library-name {
                    margin-top: 12%;
                    height: 50px;
                }

                & input {
                    width: 100%;
                }
                


                & .library-update {
                    all: unset;
                    width: 100%;
                    background-color: v.$secondary-color; 
                    text-align: center;
                    color: v.$base-color;
                    margin: 1vh 0 1.5vh 0; 
                    padding: 8px 0; 
                    border-radius: 8px;
                    cursor: pointer;
                }

                & .library-rename {
                    all: unset;
                    width: 100%;
                    background-color: #4abb53; 
                    text-align: center;
                    color: v.$base-color;
                    margin: 1vh 0 1.5vh 0; 
                    padding: 8px 0;
                    border-radius: 8px;
                    cursor: pointer;
                }
    
                & .library-delete {
                    all: unset;
                    width: 100%;
                    background-color: v.$red-color;
                    padding: 8px 0; 
                    text-align: center;
                    color: v.$base-color;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }

            & a {
                text-decoration: none;
            }

            & figure {
 

                & .book-img {

                    width: 150px;
                    height: 220px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    
                    & img {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        object-fit:fill;
                        display: block;
                    }
                }

                & .no-book-img {
                    display: flex;
                    flex-direction: column;
                    background-color: v.$base-color;
                    border-radius: 8px;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5%;

                    & .addbook-box-btn {
                        font-size: 1rem;
                        color: v.$secondary-color;
                        background-color:v.$primary-color;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
                        font-weight: 300;
                        margin: 0.5rem 0 0 0;
                        padding: 0.5rem 1.5rem;
                        border-radius: 8px;
                        width: 100%;
                    }
            
                    em {
                        font-style: normal;
                        font-size: 1.2rem;
                    }

                    & p {
                        text-align: center;
                        font-size: 1rem;
                        text-decoration: none;
                        background-color: v.$primary-color;
                        color: v.$secondary-color;
                        border-radius: 8px;
                        padding: 1.5rem 0rem;
                        margin: 0;
                    }
                }
                
                & figcaption {
                    font-size: calc(1rem + 0.5vw);
                    color: v.$police-color;
                    font-family: "Inter";
                    text-align: center;
                }
            }            
        }        
    }


}

.fade {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  
    &.fade-out {
      opacity: 0;
    }
  }


