@use '../styles/variables' as v;
@use '../styles/section';


//----------------------------- HERO SECTION -------------------------

img {
   max-width: 500px ;
}

#hero-section{
    display: flex;
    background-color: v.$base-color;
    gap: 10rem;
    
}

#presentation{
    max-width: 500px;
}





button{
    background-color: v.$secondary-color;
    margin: 1rem 0;
    color: white;
    border: none;
    padding: 15px 40px;
}


//------------------------- PERSONNAL LIBRARY SECTION ----------------------

#personal-library-section{
    background-color: v.$primary-color;
    text-align: center;
}

.personal-library-container{
    max-width: 780px;
    margin: 0 auto;
}

hr {
    width: 220px;
    border-top: solid 2px v.$secondary-color;
}