@use '../styles/variables' as v;
@use '../styles/section';

.privacy-container-title {
  font-size: 2.8rem;
  margin-top: 2rem;

}

#privacy-policy-section {
    padding: 0rem;
    line-height: 1.6;
  
  & .privacy-container {
    max-width: 800px;
    margin: auto;

    & h2 {
      font-family: "Inter";
      font-weight: bold;
      font-size: calc(1rem + 0.5vw);
      margin-bottom: 0;
    }
  }

  & a {
    color: #457b9d;
    text-decoration: underline;
  }
}

@media screen and (max-width:800px){
  .privacy-container-title {
    margin-top: 4rem;
  }
}

