@use '../styles/variables' as v;
@use '../styles/section';


.admin-page-section {
    background-color: v.$base-color;

    & .admin-header {
        background-color: v.$base-color;
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-family: 'Inter';
            font-weight: bold;
            font-size: calc(1.3rem + 0.5vw);
            margin-top: 4.5vh;
            margin-bottom: 4.5vh;
            padding: 0;
        }


        &-list {
            font-family: "Inter";
            padding: 4vw;

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5vw;

            &-link {
                font-family: "Inter";
                font-size: 1.3rem;
                font-weight: 700;
                color: v.$secondary-color;
                text-decoration: none;
                padding: 1.2rem 0;
            }

            & .selected-status {
                text-decoration: underline;
                color: #d1bda5
            }
        }
    }

    & .book-modification-selection {
        text-align: center; 
        margin-bottom: 4%;
    }

    & .book-modification-presentation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 700px;
        gap: 5vh;

        & label {
            font-family: "Inter";
            font-weight: 200;
            font-size: 0.9rem;
            margin-top: 1vh;
            margin-bottom: 2%;
            padding: 0;
        }

        & select {
            margin-bottom: 2%;
        }

        & textarea {
            margin-bottom: 2%;
            font-family: "Inter";
        }
        
        &-image {
            margin: 0 auto;
            & img {
                width: 250px;    
            }
        }


        & .book-modification-presentation-texts{
            margin: 0 auto;
        
            & .book-modification-details {
                
                width: 80vw;
                max-width: 350px;

                & button {
                    all: unset;

                    font-family: 'Inter';
                    background-color: v.$secondary-color; 
                    color: v.$base-color;
                    margin: 1vh 0 4vh 0;
                    text-align: center;
                    padding: 15px 40px; 
                    cursor: pointer;
                    max-width: 20%;

                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;

                }
                & .delete {
                    background-color: v.$red-color;
                }
        
            }
        }

    }
    & input, textarea, select {
        padding: 8px;
        border-radius: 4px;
        border: solid 2px v.$secondary-color;
        background-color: white; 
        font-size: 0.9rem;
    }


    .book-modification-details {
        display: flex;
        flex-direction: column;
    }

}

select {
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    border: 1px solid v.$base-color;
    background-color: white;
    font-size: 0.9rem;
    min-width: 160px;
}

input {
    margin-bottom: 2%;
}