.context-menu {
    position: fixed;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    display: none;
    z-index: 1000;
  
  
  & .context-menu-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  & .option {
    cursor: pointer;
    min-width: 150px;
    padding: 8px 15px;
  }
  
  & li:hover {
    background: #f0f0f0;
  }
}

// Pour affiche le menu, à retirer 
#context-menu {
    display: block;  
}