
#context-menu {
  background: none;

  & .register {
    position: relative;
  }

  & img {
    width: 50px;
    box-shadow: none;
    
    
  }
  & .cloneBtn-personnalLibrary { 
    position: absolute;
    top: 0;
    right: 0; 
   }

  & .context-menu-ul {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    

      
    & li {
      width: 150px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      & a, p {
        margin: 0 auto;
        text-align: center;
      }
      
    }
    
  }
}

